[Unit]
Description=marionrampal.com express service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=martin
Environment=EXPRESS_PORT=49152
Environment=NODE_VERSION=11
Environment=EXPRESS_ROOT=/home/martin/cloud/express.marionrampal
#Environment=DEBUG=express.marionrampal:*
Environment=NODE_CMD="node  --inspect=127.0.0.1:9229"
ExecStart=/home/martin/.bin/express.start


[Install]
WantedBy=multi-user.target
